/* This media query will apply when the viewport width is 768px or more */
@media (min-width: 768px) {
    .AIGamePage {
        background-image: url('../assets/Screens/in-game-bg-peppermint-1920x1080.png');
    }
}

/* This media query will apply when the viewport width is 430px or more */
@media (max-width: 767px) {
    .AIGamePage {
        background-image: url('../assets/Screens/create-game/game-background-screen-peppermint-jungle-430x932@2x.png');
    }
}

.AIGamePage {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    z-index: 0;
    display: flex;
    /* Added for centering button */
    justify-content: center;
    /* Added for centering button */
    align-items: center;

    overflow-y: auto;
}

.flex-container {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    
  }

.topAvatarStacks {
    background-color: rgba(143, 25, 25, 0);
}

.messageBox {
    text-align: center;
    /* font: normal normal normal calc(min(32px, 4vw)) / calc(min(37px, 4vh)) umbrage2, Arial, sans-serif; */
    /* font-size: 1rem; */
    /* font-family: 'umbrage2', Arial, sans-serif; */
    
    letter-spacing: 0px;
    color: #1A1A17;
    opacity: 1;
    margin-top: 1rem;
    margin-bottom: 1rem;
    white-space: pre-wrap;
    border-radius: 15px;
    width: 100%;
    word-wrap: break-word;
    /* overflow-y: auto; */
}

.wheel {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform 3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}