body,
html {
    margin: 10px;
    padding: 10px;
}

.JoinGamePage {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../assets/Screens/create-game/game-background-screen-peppermint-jungle-430x932.png');
    background-image: -webkit-image-set(url('../assets/Screens/create-game/game-background-screen-peppermint-jungle-430x932.png') 1x,
            url('../assets/Screens/create-game/game-background-screen-peppermint-jungle-430x932@2x.png') 2x);
    background-image: image-set(url('../assets/Screens/create-game/game-background-screen-peppermint-jungle-430x932.png') 1x,
            url('../assets/Screens/create-game/game-background-screen-peppermint-jungle-430x932@2x.png') 2x);


    background-size: cover;
    background-position: center;
    z-index: 0;
    display: flex;
    /* Added for centering button */
    justify-content: center;
    /* Added for centering button */
    align-items: center;
}

/* .centerPlaceholder::placeholder {
    text-align: center;
} */

.joinGameForm {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    /* transform: translateX(-50%); */
    z-index: 0;
}
