/* This media query will apply when the viewport width is 768px or more */
@media (min-width: 768px) {
    .JoinGamePage {
        background-image: url('../assets/Screens/in-game-bg-peppermint-1920x1080.png');
    }
}

/* This media query will apply when the viewport width is 430px or more */
@media (max-width: 767px) {
    .JoinGamePage {
        background-image: url('../assets/Screens/create-game/game-background-screen-peppermint-jungle-430x932@2x.png');
    }
}

.JoinGamePage {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    z-index: 0;
    display: flex;
    /* Added for centering button */
    justify-content: center;
    /* Added for centering button */
    align-items: center;
}

.joinGameForm {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    /* transform: translateX(-50%); */
    z-index: 0;
}
