body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.signInPage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../assets/Screens/signin/sign-in-screen-430x932.png');
    background-image: -webkit-image-set(
        url('../assets/Screens/signin/sign-in-screen-430x932.png') 1x,
        url('../assets/Screens/signin/sign-in-screen-430x932@2x.png') 2x
    );
    background-image: image-set(
        url('../assets/Screens/signin/sign-in-screen-430x932.png') 1x,
        url('../assets/Screens/signin/sign-in-screen-430x932@2x.png') 2x
    );
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centerGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* In your SignInPage.css file */
.topImage {
    position: absolute;
    top: 10%;
    left: 0; /* Optional: This will align the image to the left edge of the container */
}



