/* This media query will apply when the viewport width is 768px or more */
@media (min-width: 768px) {
    .SpinWheelPage {
        background-image: url('../assets/Screens/in-game-bg-peppermint-1920x1080.png');
    }
}

/* This media query will apply when the viewport width is 430px or more */
@media (max-width: 767px) {
    .SpinWheelPage {
        background-image: url('../assets/Screens/create-game/game-background-screen-peppermint-jungle-430x932@2x.png');
    }
}

.SpinWheelPage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    z-index: 0;
    display: flex;
    /* Added for centering button */
    justify-content: center;
    /* Added for centering button */
    align-items: center;
}

.topAvatarStacks {
    background-color: rgba(143, 25, 25, 0);
}

.chooseTurnTitle {
    text-align: center;
    font: normal normal normal 32px/37px umbrage2;
    letter-spacing: 0px;
    color: #1A1A17;
    opacity: 1;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.wheelContainer {
    position: absolute;
    left: 5%;
    right: 5%;
}